﻿@model IEnumerable<Amazon.Models.DataModel.ChildCategory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChildCategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChildCategoryAvatar)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChildCategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChildCategoryAvatar)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ChildCategoryID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ChildCategoryID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ChildCategoryID })
        </td>
    </tr>
}

</table>
