﻿@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/js/jQuery_v3.1.1.min.js"></script>
<script src="~/ckeditor/ckeditor.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/11.2.0/classic/ckeditor.js"></script>

@using (Html.BeginForm("CreateProduct", "Products", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <input name="_idChildCategory"/>
    <input type="submit" value="ssssssssssssssss"/>
}

    <form action="~/Admin/Products/CreateProduct" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <div>
            <label>
                Category
            </label>
            <select id="categorylist" class="form-control col-md-10">
                <option value="-1">Select Category</option>
                @foreach (var item in ViewBag.Categoryviewbag)
                {
                    <option value="@item.CategoryID">
                        @item.CategoryName
                    </option>
                }
            </select>
            <p></p>
            <br />
            <label>
                ChildCategory
            </label>
            <select id="Child_cate01" class="form-control col-md-10" name="_idChildCategory"></select>
            <p></p><br />
        </div>
        
        <div class="form-group">
            <label> Product Name</label>
            <input class="col-md-10 form-control" name="productName" required />
        </div>

        <div class="form-group">
            <label> Shop ID</label>
            <input class="col-md-10 form-control" name="ShopId" required />
        </div>

        <div class="form-group">
            <label>Quantity of Product</label>
            <input class="col-md-10 form-control" name="Quantity" required type="number" min="0" />
        </div>

        <div class="form-group">
            <label>Min Order</label>
            <input class="col-md-10 form-control" name="MinOrder" required type="number" min="0" />
        </div>

        <div class="form-group">
            <label>Price</label>
            <input class="col-md-10 form-control" name="Price" required min="0" type="number" />
        </div>
        <label>Description Product</label>
        <textarea id="NoiDung" name="contentDescription"></textarea><br />
        <label>Choose Avatar of Product</label>
        <br />
        <input type="file" name="fileImageProduct" />
        <br />

        <div>
            <div>Add Property</div>
            <br />
            <div class="row">
                <select class="form-control col-md-4" id="numberofProperty">
                    <option id="1">0</option>
                    <option id="1">1</option>
                    <option id="2">2</option>
                    <option id="3">3</option>
                    <option id="4">4</option>
                    <option id="5">5</option>
                    <option id="6">6</option>
                </select>
                <div class=" col-md-6">
                    <p>Example Input Property for product: Color :Red, Height: 100cm, Weight:180 gram</p>
                    <br />
                </div>
            </div>
            <div id="manyInputProperty">

            </div>
            <br />
        </div>

        <br /><br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create88" class="btn btn-success" style="margin-left:60%" />
            </div>
        </div>
    </form>
        @*<div class="form-horizontal">
            <h4> Create Product</h4>
            <hr />
            <label>
                Category
            </label>
            <select id="categorylist" class="form-control col-md-10">
                <option value="-1">Select Category</option>
                @foreach (var item in ViewBag.Categoryviewbag)
                {
                    <option value="@item.CategoryID">
                        @item.CategoryName
                    </option>
                }
            </select>
            <p></p>
            <br />
            <label>
                ChildCategory
            </label>
            <select id="Child_cate01" class="form-control col-md-10" name="_idChildCategory"></select>
            <p></p><br />
            <div class="form-group">
                    <label> Product Name</label>
                    <input class="col-md-10 form-control" name="productName" required />
                </div>

                <div class="form-group">
                    <label> Shop ID</label>
                    <input class="col-md-10 form-control" name="ShopId" required />
                </div>

                <div class="form-group">
                    <label>Quantity of Product</label>
                    <input class="col-md-10 form-control" name="Quantity" required type="number" min="0" />
                </div>

                <div class="form-group">
                    <label>Min Order</label>
                    <input class="col-md-10 form-control" name="MinOrder" required type="number" min="0" />
                </div>

                <div class="form-group">
                    <label>Price</label>
                    <input class="col-md-10 form-control" name="Quantity" required min="0" type="number" />
                </div>







                <label>Description Product</label>
                <textarea id="NoiDung" name="contentDescription"></textarea><br />
                <label>Choose Avatar of Product</label>
                <br />
                <input type="file" name="fileImageProduct" />
                <br />

                <div>
                    <div>Add Property</div>
                    <br />
                    <div class="row">
                        <select class="form-control col-md-4" id="numberofProperty">
                            <option id="1">0</option>
                            <option id="1">1</option>
                            <option id="2">2</option>
                            <option id="3">3</option>
                            <option id="4">4</option>
                            <option id="5">5</option>
                            <option id="6">6</option>
                        </select>
                        <div class=" col-md-6">
                            <p>Example Input Property for product: Color :Red, Height: 100cm, Weight:180 gram</p>
                            <br />
                        </div>
                    </div>
                    <div id="manyInputProperty">

                    </div>
                    <br />
                </div>

                <br /><br />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-success" style="margin-left:60%" />
                    </div>
                </div>
            </div>*@
            }



            <script>
    CKEDITOR.replace('NoiDung');
            $(document).ready(function () {
                $('#categorylist').on('change', function () {
                    var idCate = $('#categorylist option:selected').val();
                    $.ajax({
                        type: 'GET',
                        data: { IdCategory: idCate },
                        url: '@Url.Action("GetChildCategoryByIdCategory", "Products")',
                        success: function (result) {
                            var s = '<option value="-1">Select ChildCategory</option>';
                            for (var i = 0; i < result.length; i++) {
                                s += '<option value="' + result[i].IdCate + '">' + result[i].NameCate + '</option>';
                            }
                            $("#Child_cate01").html(s);
                        }
                    });
                });
            });
            </script>


            <script>
                $(document).ready(function () {
                    $('select').on('change', function () {
                        $('#manyInputProperty').empty();
                        var number = 0;
                        number = document.getElementById('numberofProperty').value;
                        for (var m = 1; m <= number * 2; m++) {
                            var node = document.createElement("INPUT");
                            document.getElementById("manyInputProperty").appendChild(node);
                            if (m % 2 == 0) {
                                var Endline = document.createElement("BR");
                                document.getElementById("manyInputProperty").appendChild(Endline);
                                node.placeholder = "Property value";
                            }
                            else {
                                node.placeholder = "Property name";
                            }
                            node.style.id = 1;
                            node.nodeName = "son";
                            node.name = "kiki" + m;
                            node.id = 98;



                            node.style.margin = "10px";
                            node.style.padding = "6px";
                            node.style.color = "red";
                        }
                    });
                });
            </script>


            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
