﻿@model IEnumerable<Amazon.Models.DataModel.Shop>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Shop Manager Page</h2>
<p>
    @Html.ActionLink("Add More Shop", "SaveShop")
</p>
<table class="table" id="movies">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ShopName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ward.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.ShopName, "ShopDetail", new { id = item.ShopID })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ward.Name)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.ShopID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.MovieId })
                    @Html.ActionLink("Delete", "Delete", new { id = item.ShopID })*@
                @*<button id="@item.ShopID" class="btn-link js-delete">Delete</button>*@
                @Html.ActionLink("Delete", "DeleteShop", new { id = item.ShopID }, new { onclick = "return confirm ('Are you sure that you want delete ???');" })

            </td>
        </tr>
    }
</table>
